{% extends 'base.html' %}
{% load static %}
{% block title %} - Contact PDX Code Guild{% endblock %}
{% block content %}

    <div id="map-canvas"></div>

    <article class="white">
        <div class="center">
            <h1>Contact Us</h1>
        </div>
        <div class="flexContainer">
            <div class="flexChild center">
                <div class="icon"><i
                        style="border-color:rgba(255,255,255,0);border-width:0px;background-color:#ff6f1c;height:48px;width:48px;line-height:48px;border-radius:50%;color:#ffffff;font-size:24px;"
                        class="fa fontawesome-icon fa-map-marker circle-yes"></i></div>
                <h2>Address</h2>
                <p>
                    PDX Code Guild<br>
                    2626 SW Corbett Ave, Suite 100<br>
                    Portland, OR 97201
                </p>
            </div>
            <div class="flexChild center">
                <div class="icon"><i
                        style="border-color:rgba(255,255,255,0);border-width:0px;background-color:#ff6f1c;height:48px;width:48px;line-height:48px;border-radius:50%;color:#ffffff;font-size:24px;"
                        class="fa fontawesome-icon fa-envelope circle-yes"></i></div>
                <h2>Email</h2>
                <p>
                    info@pdxcodeguild.com
                </p>
            </div>
            <div class="flexChild center">
                <div class="icon"><i
                        style="border-color:rgba(255,255,255,0);border-width:0px;background-color:#ff6f1c;height:48px;width:48px;line-height:48px;border-radius:50%;color:#ffffff;font-size:24px;"
                        class="fa fontawesome-icon fa-phone circle-yes"></i></div>
                <h2>Phone</h2>
                <p>
                    503-444-8836
                </p>
            </div>
            <div class="flexChild center">
                <div class="icon"><i
                        style="border-color:rgba(255,255,255,0);border-width:0px;background-color:#ff6f1c;height:48px;width:48px;line-height:48px;border-radius:50%;color:#ffffff;font-size:24px;"
                        class="fa fontawesome-icon fa-thumbs-o-up circle-yes"></i></div>
                <h2>Social Media</h2>
                <a href="https://twitter.com/PDXCodeGuild">Twitter</a>
                <br>
                <a href="https://www.facebook.com/PDXCodeGuild/">Facebook</a>
            </div>
        </div>
    </article>


    <article class="white blue">
        <div class="artCont">
            <h1>Bike Directions</h1>
            <p>Travel South on the riverfront multi-use path at the Tom McCall Waterfront park. At the south end is
                River Place Hotel. Take the road (Harbor Way) that runs between the West side of the hotel and Harbor
                Drive. Harbour Way crosses SW Montgomery St and ends where a multi-use path begins.</p>

            <p>Take the multi-use path 1/2 block to the intersection of Harbor Drive and Harrison/River Way. Cross the
                road 2x at this intersection to the corner diagonally across from where you are. You will find a short
                staircase (with a bike rut in the middle) that will take you to the end of Water Avenue. You should see
                a playground. Continue on this road for a few blocks past Sheridan. Water becomes Corbett at the
                intersection of Water and Sheridan. PDX Code Guild is in the brick building on the left.</p>
        </div>
    </article>



    <article class="white">
        <div class="artCont">
            <h1>How can we assist you?</h1>

            <h2>Send us an email</h2>
            <hr>
            <!--[if lte IE 8]>
<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
<![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
                hbspt.forms.create({
                    portalId: '2126993',
                    formId: '50758666-c78f-4094-b10f-6347169ccd0e'
                });
            </script>

        </div>
    </article>
{% endblock %}
{% block js %}
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&extension=.js&output=embed"></script>
    <script src="{% static 'js/gmap.js' %}"></script>
{% endblock %}